<h3 class="ui header">{{t "forms.i-i-s-otdel-kadrov-2-табл-часть-г-о-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.код
      class=(if (v-get validationModel "код" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-kadrov-2-табл-часть-г-о-e.код-caption")
      data-test-i-i-s-otdel-kadrov-2-табл-часть-г-о-e-код=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "код" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.колКалДней
      class=(if (v-get validationModel "колКалДней" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-kadrov-2-табл-часть-г-о-e.колКалДней-caption")
      data-test-i-i-s-otdel-kadrov-2-табл-часть-г-о-e-колКалДней=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "колКалДней" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-kadrov-2-табл-часть-г-о-e.датаЗап-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаЗап
      class=(if (v-get validationModel "датаЗап" "isInvalid") "error")
      data-test-i-i-s-otdel-kadrov-2-табл-часть-г-о-e-датаЗап=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаЗап" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-kadrov-2-табл-часть-г-о-e.датаФакт-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаФакт
      class=(if (v-get validationModel "датаФакт" "isInvalid") "error")
      data-test-i-i-s-otdel-kadrov-2-табл-часть-г-о-e-датаФакт=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаФакт" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.основание
      class=(if (v-get validationModel "основание" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-kadrov-2-табл-часть-г-о-e.основание-caption")
      data-test-i-i-s-otdel-kadrov-2-табл-часть-г-о-e-основание=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "основание" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-kadrov-2-табл-часть-г-о-e.перенос-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.перенос
      class=(if (v-get validationModel "перенос" "isInvalid") "error")
      data-test-i-i-s-otdel-kadrov-2-табл-часть-г-о-e-перенос=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "перенос" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.примечание
      class=(if (v-get validationModel "примечание" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-kadrov-2-табл-часть-г-о-e.примечание-caption")
      data-test-i-i-s-otdel-kadrov-2-табл-часть-г-о-e-примечание=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "примечание" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-kadrov-2-табл-часть-г-о-e.сотрудники-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудники
      displayAttributeName="фИО"
      autocomplete=true
      relationName="сотрудники"
      projection="СотрудникиL"
      title=(t "forms.i-i-s-otdel-kadrov-2-табл-часть-г-о-e.сотрудники-caption")
      readonly=readonly
      componentName="сотрудникиLookup"
      class=(if (v-get validationModel "сотрудники" "isInvalid") "error")
      data-test-i-i-s-otdel-kadrov-2-табл-часть-г-о-e-сотрудники=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудники" "message")}}
  </div>
</form>
